@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .carouselContainer {
    display: flex;
    overflow: hidden; /* Esconde conteúdo fora da faixa */
    white-space: nowrap; /* Evita quebra de linha */
    position: relative;
  }
  
  .carouselTrack {
    display: flex;
    animation: scroll 20s linear infinite; /* Animação contínua */
  }
  